main,section{
  h1,h2{
  color: darkblue;
}
}
span:hover{
  color: teal;
}
a:hover{
  /* color: rgb(216, 216, 216); */
  color: darkblue;
}

.Service-Card:hover{
  transform: translateY(-2px);
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.Service-Card:hover{
  h3{
    color: darkblue;
  }
}

button:hover{
  background: rgb(2, 147, 147);
  color: darkblue;
  box-shadow: 0 12px 18px rgba(0, 0, 0, 0.2);
  
}

.nav-link {
  position: relative;
  display: inline-block;
  color: white;
  text-decoration: none;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 3px;
  bottom: -2px; /* slightly below text */
  left: 0;
  background: linear-gradient(90deg, #00F5A0, darkblue);
  transition: width 0.4s ease;
  border-radius: 4px;
}

.nav-link:hover::after {
  width: 100%;
}
/*this is for if scroll-mt-28 fails*/
section[id] {
  scroll-margin-top: 100px;
}

button svg {
  background-color: transparent !important;
  fill: white !important;
  color: white !important;
  border-radius: 0 !important;
}




/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.card {
  padding: 2em;
} */